<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>プログラミング先生 for LTI</title>
  <link rel="stylesheet" href="../static/programming/css/main.css" th:href="@{/programming/css/main.css}" />
</head>
<body id="Exception">
  <div class="header">
    <h1 class="hd-ttl">プログラミング先生 for LTI</h1>
  </div>
  <div class="wrap">
    <div class="section">
      <h3 style="color: red;">システムエラー</h3>
      <pre>[[ ${errorMessage} ]]</pre>
    </div>
  </div>
</body>
</html>
